<div class="container">
  <div class="row pt-3">
    <div class="col-4">ID :</div>
    <div class="col-8">
      <input type="password"
             readonly
             [(ngModel)]="posBuddyId"
             tabindex="-1"
             [disabled]="disableIdField"
      />
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-4">Vorname :</div>
    <div class="col-8">
      <input type="text" [(ngModel)]="surname" tabindex="1" #surnameInput/>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-4">Nachname :</div>
    <div class="col-8">
      <input type="text" [(ngModel)]="lastname" tabindex="2"/>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-4">Geburtstag :</div>
    <div class="col-8">
      <input type="text" [(ngModel)]="birthday" tabindex="3"/>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-4">Merkmal 1 :</div>
    <div class="col-8">
      <input type="text" [(ngModel)]="attribute1" tabindex="4"/>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-4">Merkmal 2 :</div>
    <div class="col-8">
      <input type="text" [(ngModel)]="attribute2" tabindex="5"/>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-4">Merkmal 3 :</div>
    <div class="col-8">
      <input type="text" [(ngModel)]="attribute3" tabindex="6"/>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-4">Startbetrag :</div>
    <div class="col-8">
      <input type="text" [(ngModel)]="balance" tabindex="7"/>
    </div>
  </div>
  <div class="row pt-3">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <div class="col-4">
        <input type="radio"
               class="btn-check"
               name="btnradioBorrowCard"
               id="btnradioBorrowCard"
               autocomplete="off" [checked]="borrowCard"
               (click)="toggleCardType('borrowCard')">
        <label class="btn btn-outline-primary" for="btnradioBorrowCard">Leihkarte</label>
      </div>
      <div class="col-4">
        <input type="radio"
               class="btn-check"
               name="btnradio"
               id="btnradioOneTimeCard"
               autocomplete="off" [checked]="oneTimeCard"
               (click)="toggleCardType('oneTimeCard')">
        <label class="btn btn-outline-primary" for="btnradioOneTimeCard">Einmalkarte</label>
      </div>
      <div class="col-4">
        <input type="radio"
               class="btn-check"
               name="btnradio"
               id="btnradioStaticCard"
               autocomplete="off" [checked]="staticCard" [disabled]="!permissions.adminPermission"
               (click)="toggleCardType('staticCard')">
        <label class="btn btn-outline-primary" for="btnradioStaticCard">Pers. Karte</label>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-4">
      <button class="btn btn-lg btn-outline-secondary"
              #scan
              (click)="scanQRCode(content)"
              (keyup.enter)="scanQRCode(content)"
              tabindex="8">SCAN
      </button>
    </div>
    <div class="col-8">
      <button class="btn btn-lg btn-outline-primary" tabindex="9"
              (click)="checkAndSend()" [disabled]="confirmError || confirmOK">zuordnen
      </button>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      @if (!formValid) {
        <ngb-alert type="info" [dismissible]="false">{{ formValidText }}</ngb-alert>
      }
      @if (confirmError) {
        <ngb-alert type="danger" (closed)="resetError()">{{ serverResponse }}</ngb-alert>
      }
      @if (confirmOK) {
        <ngb-alert type="success" (closed)="resetOK()">Id zugewiesen</ngb-alert>
      }
    </div>
  </div>
</div>
<!-------------------------------------------------------------------------------                           SCANNER -->
<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Id Scannen</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <zxing-scanner (scanSuccess)="onScanSuccess($event)"></zxing-scanner>
    </div>
  </div>
  <div class="text-end">
    Bitte QR-code in der Kamera ausrichten.
  </div>
</ng-template>
