<div class="container-fluid">
  <div class="row">
    Bitte Einzahlung in EURO angeben
  </div>
  <div class="row">
    <div class="row-cols-sm-6">
      <button class="btn btn-lg btn-outline-primary"
              (click)="scanQRCode(content)">ID Scannen
      </button>
    </div>
    <div class="row-cols-sm-6">
      <input readonly class="form-control form-control-lg" type="text" placeholder=".form-control-lg"
             [(ngModel)]="posBuddyId"/>
    </div>
  </div>
  <div class="row">
    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" [(ngModel)]="value">
    <p></p>
  </div>
  @if (!formValid) {
    <ngb-alert type="info">{{ formValidText }}</ngb-alert>
  }
  @if (serverResponse == "OK") {
    <ngb-alert type="success">Betrag wurde eingezahlt</ngb-alert>
  }
  @if (serverResponse == "ERROR") {
    <ngb-alert (closed)="resetError()" type="danger">{{ serverResponseText }}</ngb-alert>
  }

  <button class="btn btn-lg btn-outline-primary"
          (click)="send()" [disabled]="!formValid || serverResponse!='-'">Einzahlen
  </button>
</div>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Id Scannen</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <zxing-scanner (scanSuccess)="onScanSuccess($event)"></zxing-scanner>
    </div>
  </div>
  <div class="text-end">
    Bitte QR-code in der Kamera ausrichten.
  </div>
</ng-template>
