<div class="container">
  <div class="row pt-3">
    <div class="col-4">ID :</div>
    <div class="col-8"><input type="password" readonly [(ngModel)]="posBuddyId"/></div>
  </div>
  <div class="row pt-3">
    <div class="col-4">
      <button class="btn btn-lg btn-outline-secondary"
              (click)="scanQRCode(scanIdOC)">SCAN
      </button>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      @if (confirmError) {
        <ngb-alert type="danger" (closed)="resetError()">{{ serverResponse }}</ngb-alert>
      }
      @if (confirmOK) {
        <ngb-alert type="success" (closed)="resetOK()">{{ formValidText }}</ngb-alert>
      }
    </div>
  </div>
</div>
<!-----------------------------------------------------------------------------------------------------------Scanner -->
<ng-template #scanIdOC let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="scanID">Id Scannen</h4>
    <button type="button"
            class="btn-close-white"
            aria-label="Close"
            (click)="closeOffcanvas()">
      <i class="bi bi-box-arrow-in-left"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <zxing-scanner (scanSuccess)="onScanSuccess($event)"></zxing-scanner>
    </div>
  </div>
  <div class="text-end">
    Bitte QR-code in der Kamera ausrichten.
  </div>
</ng-template>
<!-----------------------------------------------------------------------------------------------------------Umsätze -->
<ng-template #revenueOC let-offcanvas disable-scolling="false">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="revenue">Umsätze</h4>
    <button
      type="button"
      class="btn-close-white"
      aria-label="Close"
      (click)="closeOffcanvas()">
      <i class="bi bi-box-arrow-in-left"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="alert alert-primary" role="alert">
      <span style="white-space: nowrap;">
        <strong>
          {{ name }} / {{ balance |  currency: 'EUR':'symbol':'1.2-2' }}
        </strong>
      </span>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">S/H</th>
        <th scope="col">M.</th>
        <th scope="col">Artikel</th>
        <th scope="col">EUR</th>
      </tr>
      </thead>
      <tbody>
        @for (revenue of revenues; track revenue.timeOfAction; let i = $index) {
          <tr>
            <th scope="row">
              <button
                type="button"
                class="btn btn-outline-secondary me-2"
                placement="top-start"
                ngbPopover="{{ revenue.timeOfAction | date:'d.MMM.y - hh:mm:ss' }}"
                popoverTitle="Zeitpunkt">
                {{ i + 1 }}
              </button>
            </th>
            <td>
              @if (revenue.action == "+") {
                <i class="bi bi-plus-circle-fill"></i>
              } @else if (revenue.action == "-") {
                <i class="bi bi-dash-circle-fill"></i>
              } @else {
                <i class="bi bi-arrow-bar-right"></i>
              }
            </td>
            <td>
              {{ revenue.amount | number }}
            </td>
            <td>
              @if (revenue.action == "+") {
                <em>Einz.</em>
              }
              @if (revenue.action == "-") {
                <em>Ausz.</em>
              }
              {{ revenue.itemText }}
            </td>
            <td>
              <p class="fs-5">
                {{ revenue.value * revenue.amount | number: '1.2-2' }}
              </p>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="text-end">
    <hr>
    Ende Umsätze
  </div>
</ng-template>
