<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Zeitpunkt</th>
    <th scope="col">Anzahl</th>
    <th scope="col">Artikel</th>
    <th scope="col">Wert</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let revenue of revenues ">
    <th scope="row">x</th>
    <td>
      {{ revenue.timeOfAction }}
    </td>
    <td>
      {{ revenue.amount }}
    </td>
    <td>
      {{ revenue.itemText }}
    </td>
    <td>
      {{ revenue.value }}
    </td>
  </tr>
  </tbody>
</table>
