<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Zeit</th>
    <th scope="col">M.</th>
    <th scope="col">Artikel</th>
    <th scope="col">Wert</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let revenue of revenues; let i = index ">
    <th scope="row">{{ i+1 }}</th>
    <td>
      {{ revenue.timeOfAction | date:'mediumTime' }}
    </td>
    <td>
      {{ revenue.amount }}
    </td>
    <td>
      {{ revenue.itemText }}
    </td>
    <td>
      {{ revenue.value | number : '1.2-2' }}
    </td>
  </tr>
  </tbody>
</table>
