<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row pt-3">
    <div class="col-4">ID :</div>
    <div class="col-8"><input type="password" readonly [(ngModel)]="posBuddyId"/></div>
  </div>
  <div class="row pt-3">
    <div class="col-4">
      <button class="btn btn-lg btn-outline-secondary"
              (click)="scanQRCode(scanIdOC)">SCAN
      </button>
      <button class="btn btn-lg btn-outline-secondary"
              (click)="scanQRCode(scanIdOC)">SCAN
      </button>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      @if (confirmError) {
        <ngb-alert type="danger" (closed)="resetError()">{{ serverResponse }}</ngb-alert>
      }
      @if (confirmOK) {
        <ngb-alert type="success" (closed)="resetOK()">{{ formValidText }}</ngb-alert>
      }
    </div>
  </div>
</div>

<ng-template #scanIdOC let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="scanID">Id Scannen</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <zxing-scanner (scanSuccess)="onScanSuccess($event)"></zxing-scanner>
    </div>
  </div>
  <div class="text-end">
    Bitte QR-code in der Kamera ausrichten.
  </div>
</ng-template>

<!--                                            ITEMS OffCanvas                                                     -->
<ng-template #serveOC let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="revenue">Umsätze</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <!--                                                                  Order HEAD                                 -->
    <div class="alert alert-primary" role="alert">
      Kontostand:
      <h5>{{ balance | number }}</h5> / <h5>{{ orderValue | number }}</h5>
    </div>
    <!--                                                                  Dispensing Stations                        -->
    @for (dispensingStation of dispensingStations; track dispensingStation) {
      <div #collapse="ngbCollapse" [(ngbCollapse)]="iscollapsed">
        <div class="card">
          <div class="card-header">
            {{ dispensingStation.name }}
          </div>
          <div class="card-body">
            <div class="container">
              @for (item of items; track item) {
                @if (item.dispensingStation.id == dispensingStation.id) {
                  <div class="row pt-3">
                    <div class="col-2">
                      <input class="form-control form-control-lg" type="text" readonly value="0"/>
                    </div>
                    <div class="col-3">{{ item.unit }}</div>
                    <div class="col-4">{{ item.itemText }}</div>
                    <div class="col-2S">
                      <button class="btn btn-lg btn-outline-info"
                              (click)="scanQRCode(scanIdOC)"><i class="bi bi-plus-circle-fill"></i>
                      </button>
                      <button class="btn btn-lg btn-outline-primary"
                              (click)="scanQRCode(scanIdOC)"><i class="bi bi-dash-circle-fill"></i>
                      </button>
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        </div>
      </div>
    }
    <!--                                                                  Order HEAD                                 -->
  </div>
  <div class="text-end">
    <hr>
    Ende Umsätze
  </div>
</ng-template>
