#develop resource to postgres database
datasources:
  default:
    password: posBuddy
    url: jdbc:postgresql://192.168.0.5:5432/posbuddy

micronaut:
  router:
    static-resources:
      assets:
        paths: file:/tmp/
        mapping: /assets/**
  server:
    port: 8443
    cors:
      enabled: true
    ssl:
      enabled: false
      port: 8443


  http:
    client:
      log-level: debug

posbuddy:
  configDir: /tmp
