<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PosBuddy 1.0.0 &#9400; by JK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Import</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Info</a>
      </li>
    </ul>
  </div>
</nav>
<!--------------------------------------------------------------------------------------------------------------Actions-->
<div ngbAccordion [closeOthers]="true" xmlns="http://www.w3.org/1999/html">
  <div ngbAccordionItem [collapsed]="!checkoutPermission">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-database-fill-add">&nbsp;Person zuordnen</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          @if (checkoutPermission) {
            <app-allocate-id></app-allocate-id>
          } @else {
            <ngb-alert [dismissible]="false" type="danger">
              <strong>Keine Berechtigung!</strong>
            </ngb-alert>
          }
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-currency-euro">&nbsp;Konto aufladen</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          @if (checkoutPermission) {
            <app-add-value></app-add-value>
          } @else {
            <ngb-alert [dismissible]="false" type="danger">
              <strong>Keine Berechtigung!</strong>
            </ngb-alert>
          }
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-arrow-90deg-down">&nbsp;Auszahlen</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          @if (checkoutPermission) {
            <app-payout></app-payout>
          } @else {
            <ngb-alert [dismissible]="false" type="danger">
              <strong>Keine Berechtigung!</strong>
            </ngb-alert>
          }
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-arrow-bar-right">&nbsp;Personenzuordnung aufheben</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          @if (checkoutPermission) {
            <app-deallocate></app-deallocate>
          } @else {
            <ngb-alert [dismissible]="false" type="danger">
              <strong>Keine Berechtigung!</strong>
            </ngb-alert>
          }
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-list-columns-reverse">&nbsp;ID Umsätze anzeigen</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          @if (checkoutPermission || servePermission) {
            <app-revenue></app-revenue>
          } @else {
            <ngb-alert [dismissible]="false" type="danger">
              <strong>Keine Berechtigung!</strong>
            </ngb-alert>
          }
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="checkoutPermission">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-cart-check">&nbsp;Ausgabe</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          @if (checkoutPermission || servePermission) {
            <app-serve></app-serve>
          } @else {
            <ngb-alert [dismissible]="false" type="danger">
              <strong>Keine Berechtigung!</strong>
            </ngb-alert>
          }
        </ng-template>
      </div>
    </div>
  </div>
</div>
<router-outlet/>
