<div class="container">
  <div class="row">
    <div class="col-9">
      <span class="badge text-bg-primary">PosBuddy &#9400; by JK</span>
    </div>
    <div class="col-3">{{ version }}</div>
  </div>
</div>
<div ngbAccordion [closeOthers]="true" xmlns="http://www.w3.org/1999/html">
  <div ngbAccordionItem [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-database-fill-add">&nbsp;Person zuordnen</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-allocate-id></app-allocate-id>
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-currency-euro">&nbsp;Konto aufladen</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-add-value></app-add-value>
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-arrow-90deg-down">&nbsp;Auszahlen</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-payout></app-payout>
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-arrow-bar-right">&nbsp;Personenzuordnung aufheben</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-deallocate></app-deallocate>
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-list-columns-reverse">&nbsp;ID Umsätze anzeigen</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-revenue></app-revenue>
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton><i class="bi bi-cart-check">&nbsp;Ausgabe</i></button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-serve></app-serve>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<router-outlet/>
