<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>Willkommen</button>
    <ng-template ngbNavContent>
      <p>
        <markdown [src]="'assets/welcome.md'"></markdown>
      </p>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Speisekarte</button>
    <ng-template ngbNavContent>
      <p>
        <markdown [src]="'assets/menue.md'"></markdown>
      </p>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>Info</button>
    <ng-template ngbNavContent>
      <p>
        <markdown [src]="'assets/info.md'"></markdown>
      </p>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <button ngbNavLink>Umsätze</button>
    <ng-template ngbNavContent>
      <app-identity></app-identity>
      <app-revenue></app-revenue>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>


<router-outlet></router-outlet>

