<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills">
  <li [ngbNavItem]="1">
    <button ngbNavLink>Willkommen</button>
    <ng-template ngbNavContent>
      <div class="p-3 mb-2 bg-light text-dark border border-primary">
        <markdown [src]="'/asset/welcome.md'"></markdown>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Speisekarte</button>
    <ng-template ngbNavContent>
      <div class="p-3 mb-2 bg-light text-dark border border-info">
        <markdown [src]="'/asset/menue.md'"></markdown>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>Info</button>
    <ng-template ngbNavContent>
      <div class="p-3 mb-2 bg-light text-dark border border-black">
        <markdown [src]="'/asset/info.md'"></markdown>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <button ngbNavLink>Umsätze</button>
    <ng-template ngbNavContent>
      <div class="mb-2 bg-light text-dark border border-danger">
        @if (environment.callStaticApi) {
          <app-static-data></app-static-data>
        }
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>


<router-outlet></router-outlet>

